:root {
  --purple-600: hsl(246, 80%, 60%);
  --orange-300-work: hsl(15, 100%, 70%);
  --blue-300-play: hsl(195, 74%, 62%);
  --pink-400-study: hsl(348, 100%, 68%);
  --green-400-exercise: hsl(145, 58%, 55%);
  --purple-700-social: hsl(264, 64%, 52%);
  --yellow-300-self-care: hsl(43, 84%, 65%);
  --navy-950: hsl(226, 43%, 10%);
  --navy-900-hover: hsl(236, 41%, 34%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --color-text: hsl(180, 100%, 100%);
}
.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 100%;
  font-weight: 400;
  max-width: 90rem;
  width: 100%;
  /* height: 1024px; */
  height: 100vh;
  background: var(--navy-950);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
body,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: 245px;
  grid-auto-rows: 245px;
  gap: 30px;
  font-size: 1.125rem;
}
.dashboard-avatar {
  background-color: var(--navy-900);
  grid-row: 1 / 3;
  border-radius: 15px;
}

.dashboard-avatar-content {
  background: var(--purple-600);
  border-radius: 15px;
  padding: 25px 0 90px 30px;
}
.dashboard-avatar-content span {
  display: block;
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: var(--navy-200);
}
.dashboard-avatar-content .dashboard-avatar-text {
  font-size: 32px;
  font-weight: 400;
}
.dashboard-avatar-content img {
  width: 5.9375rem;
  border-radius: 50%;
  border: 2px solid var(--navy-200);
  margin-block-end: 40px;
}
.dashboard-avatar-nav {
  padding: 30px 0 32px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  background: var(--navy-900);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dashboard-avatar-nav button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--purple-500);
  cursor: pointer;
  transition: color 350ms ease-in;
  &:hover,
  &:active {
    color: var(--color-text);
  }
}

.dashboard-avatar-nav button.active {
  color: var(--color-text);
}
.dashboard__main .Work {
  background-color: var(--orange-300-work);
  border-radius: 15px;
}

.dashboard__main .Work .images {
  background-color: var(--orange-300-work);
  height: 2.8125rem;
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.content {
  background-color: var(--navy-900);
  border-radius: 15px;
  padding: 30px;
  cursor: pointer;
  transition: background-color 450ms ease-in-out;
  &:hover {
    background-color: var(--navy-900-hover);
  }
}
.content-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  margin-bottom: 40px;
}

.content-up svg {
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.content-up svg path:hover {
  fill: var(--color-text);
}

.content-down h4 {
  font-size: 2.625rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.content-down p {
  color: var(--purple-500);
}

.content-down.current-daily {
  display: none;
}
.content-down.current-daily.active {
  display: flex;
}
.content-down.current-weekly.active {
  display: flex;
}
.content-down.current-weekly {
  display: none;
}
.content-down.current-monthly {
  display: none;
}
.content-down.current-monthly.active {
  display: flex;
}

.dashboard__main .Play {
  background-color: var(--blue-300-play);
  border-radius: 15px;
}
.dashboard__main .Play .images {
  background-color: var(--blue-300-play);
  height: 45px;
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dashboard__main .Study {
  background-color: var(--pink-400-study);
  border-radius: 15px;
}
.dashboard__main .Study .images {
  background-color: var(--pink-400-study);
  height: 2.8125rem;
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dashboard__main .Exercise {
  background-color: var(--green-400-exercise);
  border-radius: 15px;
}
.dashboard__main .Exercise .images {
  background-color: var(--green-400-exercise);
  height: 45px;
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dashboard__main .Social {
  background-color: var(--purple-700-social);
  border-radius: 15px;
}
.dashboard__main .Social .images {
  background-color: var(--purple-700-social);
  height: 2.8125rem;
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.dashboard__main .Self.Care {
  background-color: var(--yellow-300-self-care);
  border-radius: 15px;
}
.dashboard__main .Self.Care .images {
  background-color: var(--yellow-300-self-care);
  height: 2.8125rem;
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: 85% 30%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media (max-width: 1110px) {
  body {
    padding-inline: 10px;
  }
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  body {
    display: block;
  }
  .dashboard {
    padding-block-start: 80px;
    padding-inline: 10px;
    grid-template-columns: 325px;
    grid-template-rows: 160px;
    grid-auto-rows: auto;
  }
  .dashboard-avatar-content {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 25px 0 25px 25px;
  }
  .dashboard-avatar-content img {
    width: 4.6875rem;
    margin-bottom: 0;
  }
  .dashboard-avatar-content .dashboard-avatar-text {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .dashboard-avatar-nav {
    padding: 15px 25px;
    flex-direction: row;
    column-gap: 45px;
  }
  .content {
    padding: 15px;
  }
  .content-up {
    margin-block-end: 15px;
  }
  .content-down {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
  }
  .content-down h4 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-style: italic;
  padding-block-start: 0.625rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
